---
const { title, type, background, image, href } = Astro.props;
import Button2 from './Button2.astro';
---

<div class="col-span-12 lg:col-span-4 flex flex-col gap-6 pt-6 border-t border-[#AFAFAF]">
    <div class="flex items-baseline gap-4">
        <h3 class="text-[20px] font-semibold">{title}</h3>
        <div class="text-[14px] font-light uppercase">{type}</div>
    </div>
    <a href={href} class={`relative group w-full aspect-square flex items-center justify-center px-5 lg:px-10 cursor-pointer ${background}`}>
        <img src={image} alt={title} class="w-11/12 aspect-[295.36/194.00] object-cover group-hover:scale-110 transition duration-300" />
        <Button2 position="absolute group opacity-0 group-hover:opacity-100 transition duration-300"/>
    </a>
</div>